<h2>Restaurants</h2>

<% @restaurants.each do |restaurant| %>
<div class="restaurant">
  <h1><%= link_to restaurant.name, restaurant_path(restaurant) %></h1>
  <p><h2>Description:</h2> <%= restaurant.description %></p>
  <h2>Location:</h2>
    <%= restaurant.address %>,
    <%= restaurant.city %>,
    <%= restaurant.state %>,
    <%= restaurant.zip %>
    <%= restaurant.category %>
</div>
<% end %>
