
<h2>Submit New Restaurant</h2>
   <%= form_for(@restaurant) do |f| %>

  <% if @restaurant.errors.any? %>
    <h3><%= pluralize(@restaurant.errors.count, "error") %>
    prohibited this restaurant from being added.</h3>

    <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>

  <% end%>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, rows: 5 %>
  </p>
  <p>
    <%= f.label :category %>
    <%= collection_select(:restaurant, :category_id, Category.all, :id, :name) %>
  <p>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %>
    <%= f.select :state, options_for_select(us_states) %>
  </p>
  <p>
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.submit %>
  </p>

  <% end %>
</div>
