<h2><%= @restaurant.name %></h2>
<h3><%= "#{'Cuisine: '}" + @restaurant.category.name if @restaurant.category %></h3>
<h4>Address:<br/>
<%= @restaurant.address %><br/>
<%= @restaurant.city %>,
<%= @restaurant.state %>
<%= @restaurant.zip %></h4>

<p class="description">
Description:<br/>
<%= @restaurant.description %></p>

<% @restaurant.reviews.each do |review| %>
  <div class="review">
    <p class="rating" data-score="<%= review.rating %>"></p>
    <p>
      <%= review.body %>
    </p>
    <p>
      <em><%= review.created_at.time.to_formatted_s(:short)  %></em>
    </p>
  </div>
  <% end %>

<p><%= link_to "Add Review", new_restaurant_review_path(@restaurant) %></p>

<script>
  $(document).ready(function() {

    $(".rating").html(function(){
      var num = $(this).data("score");

      for(i = 0; i < num; i++) {
        $(this).append("<i class='fa fa-star'></i>");
      }
    });

  });
</script>
