<%= form_for([@restaurant, @review]) do |f| %>

<% if @review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@review.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

<%= f.label :rating %>
<%= f.select :rating, (1..5) %>

<%= f.label :body %>
<%= f.text_area :body %>

<%= f.submit %>

<% end %>
