<!DOCTYPE html>
<html>
<head>
  <title>Good Eats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="container">
    <h1><%= link_to "Good Eats", root_path %></h1>
    <ul class="nav">
      <li><%= link_to "All Restaurants", restaurants_path %></li>
      <li><%= link_to "Submit New", new_restaurant_path %></li>
    </ul>
  </div>
</header>

<article>
  <div class="container">
    <%= yield %>
  </div>
</article>

</body>
</html>
